<!DOCTYPE html>
<html lang="ko">
	<head>
		<title> SCP createProject </title>
		<meta charset="utf-8" content-type="application/json" />
	</head>

	<script>
		window.onload = async function(){
            const Data = JSON.stringify({
				pageURL: "SessionVerify"
			});
			const url = "/controller/withDataPageRoute.php?data=" + Data;
            HttpRequest(url, function(resultData) {
                if(resultData !== "false") {
                    //정상적으로 로그인 되어있음
                    const writer = request.response;
                    document.getElementById("writer").innerHTML = writer;
                }
                else {
                    alert("로그인이 필요합니다.");
                    window.location.href = "/index.html";
                }
            });
            
		}

        function ProjectSend() {
            const ProjectForm = document.getElementById("ProjectForm");

            const categoryTarget = document.getElementById("categoryBox");
            const categoryValue = categoryTarget.options[categoryTarget.selectedIndex].value;
            const ageTarget = document.getElementById("ageBox");
            const ageValue = ageTarget.options[ageTarget.selectedIndex].value;
            const regionTarget = document.getElementById("regionBox");
            const regionValue = regionTarget.options[regionTarget.selectedIndex].value;
            const oocTarget = document.getElementById("oocBox");
            const oocValue = oocTarget.options[oocTarget.selectedIndex].value;
            const writer = document.getElementById("writer").innerHTML;
            const content = document.getElementById("content").value;
            const img = document.getElementById("image").value;
            console.log(img);

            const ProjectData = JSON.stringify({
                category: categoryValue,
                writer: writer,
                age: ageValue,
                region: regionValue,
                one_or_company: oocValue,
                content: content,
                img: img,
                pageURL: "ProjectCreating",
                returnPageURL: "/index.html"
            });
            console.log(ProjectData);
            const url = "/controller/withDataPageRoute.php?data=" + ProjectData;
            HttpRequest(url, function(resultData) {
                alert(resultData);
                if(resultData === "true") {
                    window.location.href = "/index.html";
                }
                else {
                    alert("글 올리기 실패... 다시 시도해주세요.");
                }
            });
        }

        //httpRequest로 데이터 보내기 (withDataPageRouting.php에만 적용)
        async function HttpRequest(url, callback){
            request = new XMLHttpRequest();
            request.open("GET", url, true);
            request.setRequestHeader("Content-type", "application/json");
            request.send(); //$_GET['data']
            //get response
            request.onreadystatechange = function() {
                if(request.readyState===XMLHttpRequest.DONE){
                    const returnData = request.response;
                    callback(returnData);
                }
            }
        }
	</script>

	<body>
		<h1> SCP createProject 페이지 </h1>
		<form id="ProjectForm">
            <div name="category"> 
                카테고리: 
                <select id="categoryBox">
                    <option value="1"> 사회프로젝트 </option>
                    <option value="2"> 자기계발 </option>
                    <option value="3"> 사업프로젝트 </option>
                    <option value="4"> 독서모임 </option>
                </select>
            </div>
            <div name="one_or_company"> 
                <select id="oocBox">
                    <option value="1"> 개인 </option>
                    <option value="2"> 기업 </option>
                    <option value="3"> 모두 </option>
                </select>
            </div>
            <div name="age">
                <select id="ageBox">
                    <option value="1"> 중/고등학생 </option>
                    <option value="2"> 대학(원)생 </option>
                    <option value="3"> 직장인 </option>
                    <option value="4"> 기타 </option>
                </select>
            </div>
            <div name="region"> 
                <select id="regionBox">
                    <option value="seoul"> 서울 </option>
                    <option value="gyeonggi"> 경기 </option>
                    <option value="Incheon"> 인천 </option>
                    <option value="Gangwon"> 강원 </option>
                    <option value="Chungcheong"> 충청 </option>
                    <option value="GyeongsangNorth"> 경북 </option>
                    <option value="GueongsangSouth"> 경남 </option>
                    <option value="JeollaNorth"> 전북 </option>
                    <option value="JeollaSouth"> 전남 </option>
                    <option value="jeju"> 제주 </option>
                </select>
            </div>
            <div id="writer"> 작성자 </div>
            <div name="content"> <textarea id="content"></textarea> </div>
            <div name="image"> 
                <input id="image" type="file" accept="image/*" />
            </div> 
            <br>
            <input type="button" value="프로젝트 올리기" onclick="ProjectSend()"/>
		</form>
	</body>
</html>
