<!-- 앞으로는 세 View를 작성하기 위해서 이 페이지를 복사해서 사용할 것-->
<!DOCTYPE html>
<html lang="ko">
	<head>
		<title> SmallCommunityProject </title>
		<meta charset="utf-8" content-type="application/json" />
	</head>
	<link rel="stylesheet" href="./css/all.css">

	<script>
	</script>

	<body>
		<div class="header">
			<a href="/index.html">
				<img class="header_home_btn_img" src="/lib/img/home_btn.png"/>
			</a>
		</div>

		<div class="content">
			<h1> Hello world! </h1>

			
		</div>
		
		<div class="footer">
			<img class="footer_logo_img" src="/lib/img/logo.png"/>
			<p> Footer: 대충 아무내용 때려 넣기 </p>
		</div>
	</body>
</html>
