<!DOCTYPE html>
<html lang="ko">
	<head>
		<title> KRC 추천된 강의 시간표 </title>
		<meta charset="utf-8" content-type="application/json" />
	</head>

	<script type="module">
		import json from "/lib/readJson.js";
		readRecommendedClassJson();
		function readRecommendedClassJson() {
		// lib 경로에 있는 json 파일 읽기
			console.log("in Browser: ", json);
			//json 변수로 이제 view 를 만들어보자.

			//그 후 json 파일 지우기
		}
		window.onload = function() {
			

		}
		
	</script>

	<body>
		<h1> 추천된 강의 시간표 </h1>


	</body>
</html>
